{%extends "layout2.html.twig" %}
{% block style %}
<link rel="stylesheet" href="{{ asset('CSS/Forgot.css') }}" />
{% endblock %}
{% block body %}
{% if status != null %}

  {% if status == "valid" %}
  
    <p class="status">
       Un mail de récupération vous a été envoyé
    </p>
  {% elseif status == "notfound" %}
    <p class="status">
       Aucun utilisateur correspondant à cette addresse
    </p>
  {% endif %}
{% endif %}
{{ form_start(form1) }}
{{ form_widget(form1) }}
{{ form_end(form1) }}<br>

</section>


{% endblock %}
