<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ asset('CSS/Index.css') }}" />



</head>

<body>
  <h1>Tabac Le Bercy</h1>

  <h2>Articles fumeurs réservés aux plus de 18 ans</h2>

  <p>
    Il est interdit de vendre, dans les débits de tabac, tous commerces ou lieux publics,
    aux mineurs <br />de moins de 18 ans des produits du tabac ou leurs ingérdients, y compris
    notamment le papier et le filtre. <br /><br />La personne chargée de vendre des produits du
    tabac peut exiger qui l'intéressé établisse la<br /> preuve de sa majorité, notamment par la
    production d'une pièce d'indentité.<br /><br />Code de la Santé Publique, article L 3511-2-1,
    R 3512-3<br /><br />Le non-respect de cette interdiction est passible de poursuites judiciaires.<br /><br />
    L'abus d'alcool est dangereux pour la santé, à consommer avec modération.

    <div class="links">
      <div>
        <a href="{{ path('login') }}" class="connect">Se connecter</a>
        <a href="{{ path('junior_isep_vitrine_register') }}" class="register">S'inscrire</a>
      </div>

    </div>
  </p>

</body>


<style>





</style>
