{%extends "layout5.html.twig" %}
{% block style %}
<link rel="stylesheet" href="{{ asset('CSS/Contact.css') }}" />
{% endblock %}
{% block body %}
<section>
  <div class="contact">
    <p>
      {{ infos.text }}
    </p>



  </div>

</section>


{% endblock %}
