{%extends "layout5.html.twig" %}
{% block style %}
<link rel="stylesheet" href="{{ asset('CSS/Contact.css') }}" />
{% endblock %}
{% block body %}
<section>
  <div class="contact">
    <p>
      Ici sera inscrit un petit texte à définir afin de permettre aux futurs utilisateurs d'avoir les infos nécessaires

    </p>

    <p>
      Je serai ravi de vous accueillir au {{ infos.address }},<br /> mais vous pouvez également
      me contacter par téléphone au {{ infos.phoneNumber }},<br /> ou par mail au {{ infos.email }}
    </p>



  </div>

</section>


{% endblock %}
