{%extends "layout5.html.twig" %}
{% block style %}
<link rel="stylesheet" href="{{ asset('CSS/MentionsLegales.css') }}" />
{% endblock %}
{% block body %}
<section>
  <div class="contact">
    <h4>Article 1</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus elit. In eget nulla mi. Duis viverra id quam eget posuere. Curabitur sed ultricies mi. In nec nulla nec ex commodo tincidunt. Morbi sed lorem lectus. Curabitur venenatis turpis ac rhoncus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur iaculis vestibulum lacus, ac maximus lorem pellentesque ac. Sed cursus eget nulla id tempus. Fusce efficitur a nunc quis molestie. Donec at sem non sem dapibus molestie a at justo. Praesent rhoncus magna ex, in tempus quam tempus in.
    </p>
    <h4>Article 2</h4>
    <p>
      Nunc ac enim ipsum. In id libero scelerisque erat porta tincidunt. Nulla suscipit purus et metus tincidunt, sit amet accumsan mi scelerisque. Fusce ornare massa ac purus tristique, sed condimentum odio sagittis. Aliquam erat volutpat. Nunc faucibus feugiat congue. Morbi suscipit, nisl in luctus varius, tellus quam posuere elit, sit amet dignissim nisl odio eget dui. Mauris auctor turpis velit, eget sagittis felis viverra ac. In eleifend porta lectus. Vestibulum metus nisl, finibus ac varius at, vestibulum sed eros. Pellentesque porta magna vel aliquam sodales. Nulla ut dapibus elit. Fusce varius enim vel congue mattis. Sed maximus id nunc et sagittis. Donec hendrerit urna eu felis aliquam feugiat.
    </p>
    <h4>Article 3</h4>
    <p>
    Aenean sit amet varius nulla. Donec et dui ac orci vulputate ullamcorper. Mauris efficitur sodales neque mollis consequat. Nullam vitae iaculis augue. Mauris dignissim nisi lacinia turpis pharetra, id lobortis nibh facilisis. Proin porttitor facilisis felis, vitae congue mauris ultricies at. Vivamus laoreet, lacus quis ullamcorper placerat, nisi tortor placerat libero, ac pulvinar dui erat eu lectus.
    </p>
    <h4>Article 4</h4>
    <p>
      Pellentesque faucibus leo sem. Cras dui urna, cursus id varius a, auctor ornare neque. Curabitur scelerisque pharetra mi eget auctor. Nunc in condimentum orci. Vivamus et ligula feugiat, feugiat nibh at, cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas tempus diam sed ligula convallis gravida.

    </p>
    <h4>Article 5</h4>
    <p>
      Aenean a quam quis turpis feugiat faucibus. Aenean a lacus posuere, tempus odio a, tincidunt nulla. Sed laoreet mauris nec leo egestas condimentum. Cras commodo efficitur nunc, ac commodo leo laoreet ut. Vestibulum nec mauris diam. Donec ut semper sem, vitae egestas justo. Quisque massa dolor, rhoncus vel enim in, finibus tincidunt dolor. Duis euismod eget massa sit amet pulvinar. Curabitur laoreet, mi nec sollicitudin tempor, justo justo convallis tellus, ac blandit purus arcu id felis. Duis scelerisque, neque vitae efficitur posuere, ipsum nisl elementum dui, non molestie metus metus sed purus. Nullam nec ex porttitor, mollis leo vitae, vehicula neque. Donec mi nunc, tincidunt eu vehicula vel, sollicitudin sollicitudin metus.

    </p>
    <h4>Article 6</h4>
    <p>
      Duis eget tincidunt velit, vitae lobortis purus. Donec auctor, eros eget accumsan scelerisque, augue massa rutrum nisi, sit amet fermentum magna est ac lacus. Cras varius, erat eget lobortis congue, est ligula tempor tellus, nec gravida quam purus et ipsum. Quisque id magna in ipsum tincidunt venenatis. Etiam vulputate quam eget est interdum sodales. Curabitur dictum lobortis molestie. Vestibulum vel dolor id elit volutpat pulvinar.


    </p>




  </div>

</section>


{% endblock %}
