
.infos form{
  border: 0px;
}

.infos{
  margin : auto;
  border: 1px solid black;
  width: 60%;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: white;

}

section{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: #fbf3d4;
}

img{
  width: 120px;

}

.forgot{
  font-size: 12px;
}

button{
  margin-top: 20px;
}

.status{
  text-align: center;
  color: green;
}
